DS3BehaviorXMLTool/Dependencies/hkxpack-souls/hkxpackds3.exe
DS3BehaviorXMLTool/build
DS3BehaviorXMLTool/Dependencies/hkxpack-souls/jre
DS3BehaviorXMLTool/dist/Dependencies/hkxpack-souls/jre
DS3BehaviorXMLTool/dist/WorkFolder
DS3BehaviorXMLTool/__pycache__/DS3BehaviorTool.cpython-39.pyc
DS3BehaviorXMLTool/dist
